<div class="cart-content">
    <div class="cart-items">
        <div class="cart-item">
            <img src="../img/cake1.png" alt="CHOCOVANI" class="cart-image" />
            <div class="cart-info">
                <strong>CHOCOVANI × 1</strong>
                <p>Sô-cô-la & Vani</p>
                <p>350.000 đ</p>
            </div>
            <button class="remove-btn">Xoá</button>
        </div>
    </div>
    
</div>